 <!-- Header -->
{% load static %}
<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 flex justify-between items-center py-4">
    <!-- Logo Section -->
    <div class="flex items-center space-x-4">
      <a href="/">
        <img src="{% static 'logo.png' %}" alt="Logo" class="w-30 h-16">
      </a>
      <div>
        <h1 class="text-2xl font-bold text-secondary-accent">L'Espace de co-working</h1>
        <p class="text-sm text-gray-500">d'où vos idées prennent vie</p>
      </div>
    </div>

    <!-- Hamburger Menu for Mobile -->
    <button 
      id="menu-toggle" 
      class="md:hidden block text-gray-700 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Navigation Links -->
    <nav 
      id="menu" 
      class="hidden md:flex flex-col md:flex-row md:items-center md:space-x-6 w-full md:w-auto"
    >
      <ul class="flex flex-col md:flex-row md:space-x-6 space-y-4 md:space-y-0">
        <li>
          <a href="/" class="{% if request.resolver_match.url_name == 'index' %}font-semibold{% else %}font-normal{% endif %} block py-2 px-3 hover:font-semibold text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">
            L'accueil
          </a>
        </li>
        <li>
          <a href="/#plans" class="block py-2 px-3 hover:font-semibold text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            Tarif
          </a>
        </li>
        <li>
          <a href="/reservationlist/" class="{% if request.resolver_match.url_name == 'reservationlist' %}font-semibold{% else %}font-normal{% endif %} block py-2 px-3 hover:font-semibold text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            Réservation
          </a>
        </li>
        <li>
          <a href="/connexion/" class="{% if request.resolver_match.url_name == 'connexion' %}font-semibold{% else %}font-normal{% endif %} block py-2 px-3 hover:font-semibold text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            Connexion
          </a>
        </li>
      </ul>
    </nav>

    
  </div>
</header>
